<!DOCTYPE html>
<html>
<head>
	<title>Thêm Sinh Viên</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" type="text/css" href="CSS/Sua-xoaSV.css"> -->
    <style type="text/css">
    body{
		width: 800px;
		height: 800px;
	}
	.container-fluid
	{   margin-top: 5vh;
		margin-left: 30%;
	}
	button {
		width: 200px;
	}
    </style>
</head>
   <div class="container-fluid">
   	<div class="row justify-content-center">
   		<div class = "col-md-7 row-container">
   			<h1>Thông tin sinh viên</h1>
		<form action="" method="">
		<div class="form-group">
			<label for="name">Họ và tên:</label>
			<input type="text" name="name" class="form-control" placeholder="Họ và tên">
		</div>

		<div class="form-group">
			<label for="MSV">Mã Sinh Viên:</label>
			<input type="text" name="msv" class="form-control" placeholder="Mã sinh viên">
		</div>

		<div class="form-group">
			<label for="date">Ngày sinh:</label>
			<input type="date" name="date" class="form-control" placeholder="Ngày/tháng/năm sinh">
		</div>

		<div class="form-group">
			<label for="address">Địa chỉ:</label>
			<input type="text" name="address" class="form-control" placeholder="Địa chỉ">
		</div>

		<div class="form-group">
			<label for="email">Email:</label>
			<input type="email" name="email" class="form-control" placeholder="Email">
		</div>

		<div class="form-group">
			<label for="phone">Số điện thoại:</label>
			<input type="text" name="phone" class="form-control" placeholder="Số điện thoại">
		</div>
       <div class="form-group">
			<input type="file" name="image" class=" form-control-file my-4" value="Chọn tệp">
		</div>
		
		<button type="submit" class="btn btn-danger">Sửa</button>
		<button type="submit" class="btn btn-danger">Xóa</button>
		<input type="text" name="session_id" class="" value="{{session_id}}" style="visibility: hidden;">
</form>
</div></div></div>
<body>

</body>
</html>